<div
  id="frontpage"
  class="post-container d-flex flex-wrap justify-content-center m-auto"
>
  {% assign featured = site.posts | where_exp:"post","post.featured == true" %}
  {% for post in featured limit:1 %}
  <a href="{{ post.url | prepend: site.baseurl}}" class="postcard">
    <div class="card shadow-sm p-0 h-400">
      <div class="fill h-400">
        <img
          src="{{ site.baseurl }}/assets/images/posts/{{
        post.image }}"
          class="img-fluid rounded-top"
        />
      </div>
      <img
        class="avatar"
        src="{{ site.baseurl
      }}/assets/images/avatars/{{ post.avatar }}"
      />
      <div class="post-categories d-flex justify-content-start m-10">
        {% for category in post.categories %}
        <div class="m-10">{{category}}</div>
        {% endfor %}
      </div>
      <div class="post-title">{{post.title}}</div>
      <div class="post-date">{{ post.date | date: '%B %d, %Y' }}</div>
    </div>
  </a>
  {% endfor %} {% assign nonfeatured = paginator.posts |
  where_exp:"post","post.featured != true" %} {% for post in nonfeatured%}
  <a href="{{ post.url | prepend: site.baseurl }}" class="postcard-sm">
    <div class="card shadow-sm p-0 h-400">
      <div class="h-half overflow-hidden fill">
        <img
          src="{{ site.baseurl }}/assets/images/posts/{{ post.image }}"
          class="img-fluid rounded-top"
        />
      </div>
      <img
        class="avatar"
        src="{{ site.baseurl
      }}/assets/images/avatars/{{ post.avatar }}"
      />
      <div class="h-half overflow-hidden">
        <div class="post-categories d-flex justify-content-start m-10">
          {% for category in post.categories %}
          <div class="m-10">{{category}}</div>
          {% endfor %}
        </div>
        <div class="post-title">{{post.title}}</div>
        <div class="post-date">{{ post.date | date: '%B %d, %Y' }}</div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
