<!DOCTYPE html>
<html lang="en">
  {%include head.html%}
  <body
    class="with-custom-webkit-scrollbars with-custom-css-scrollbars"
    data-set-preferred-mode-onload="true"
  >
    <!-- Page wrapper start -->
    <div class="page-wrapper with-navbar">
      {%include navbar.html%}

      <!-- Content wrapper start -->
      <div class="content-wrapper">
        <h1 class="text-center mt-20"><b>{{page.category}}</b></h1>
        {%include feedsecond.html%} {% include paginator.html %}{%include
        footer.html%}
      </div>
      <!-- Content wrapper end -->
    </div>
    <!-- Page wrapper end -->

    {%include scripts.html%}
  </body>
</html>
