<!DOCTYPE html>
<html lang="en">
  {%include head.html%}
  <body
    class="with-custom-webkit-scrollbars with-custom-css-scrollbars"
    data-set-preferred-mode-onload="true"
  >
    <!-- Page wrapper start -->
    <div class="page-wrapper with-navbar">
      {%include navbar.html%}

      <!-- Content wrapper start -->
      <div class="content-wrapper">{{content}} {%include footer.html%}</div>
      <!-- Content wrapper end -->
    </div>
    <!-- Page wrapper end -->

    {%include scripts.html%}
  </body>
</html>
